/* ==========================================================================
   #CARDS
   ========================================================================== */

.c-card {
  border-style: solid;
  border-width: $card-border-width;
}
.c-card > h6 {
  margin-bottom: 0;
}

/**
 * Styling for alert cards.
 *
 */

.c-card--alert {
  border-color: $nhsuk-error-color;
}

/**
 * Styling for information cards.
 *
 * H4 headers are used in Call to Action cards, which are a variant.
 * They have no bottom margin.
 * All paragraphs have no top margin but a standard bottom margin.
 * This creates no space at the top and a small space before the button.
 *
 */

.c-card--success {
  border-color: $color-nhsuk-dark-green;
}

.c-card--information {
  border-color: $color_nhsuk-orange;
}

.c-card--information > h4 {
  margin-bottom: 0;
}
.c-card--information p {
  margin-top: 0;
}

